* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Quicksand', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* --------------------------*/
/* TEXT */
/* --------------------------*/

h1 {
    color: red;
    font-size: 300%;
    margin-top: 50px;
    margin-bottom: none;
    margin-left: 50px;
    padding-bottom: none;
}

h2 {
    margin-bottom: 50px;
    padding-top: none;
    margin-left: 50px;
    font-size: 80%;
}

p {
    font-size: 80%;
    font-weight: 200;
}

article {
    font-size: 80%;
    font-weight: 200;
}

h3 {
    font-size: 100%;
    margin-bottom: 20px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* --------------------------*/
/* HEADER */
/* --------------------------*/

.social{
    margin-top: -130px;
    margin-right: 50px;
    float: right;
    
}

.social-links {
    list-style: none;
}

.social-links li{
    float: left;
    padding: 10px;
}

/* --------------------------*/
/* NAV */
/* --------------------------*/

.nav{
    list-style: none;
    margin-top: none;
}

.nav li{
    float: left;
    padding-left: 50px;
    margin-bottom: 20px;
    font-size: 80%;
}

/* --------------------------*/
/* ABOUT */
/* --------------------------*/

section {
    float: left;
    margin-left: 50px;
    width: 45em;
    
}

/* --------------------------*/
/* EXPERIENCE */
/* --------------------------*/

.expo {
    float: left;
    width: 45em;
    margin-left: 50px;
    margin-top: 70px;
}

.expo-1{
    border: 1px #000;
}

.expo-right {
    float: left;
    width: 25em;
}

.expo-left {
    float: left;
    width: 20em;
}

.expo-left dl{
    font-size: 100%;
    margin-top: 10px;
}

.expo-left dd{
    font-size: 75%;
    padding-top: 5px;
}

.expo-2 {
    float: left;
    padding-top: 20px;
}